@font-face {
  font-family: "Montserrat-Thin";
  src: url(../fonts/Montserrat/Montserrat-Thin.ttf);
}
@font-face {
  font-family: "Montserrat-Light";
  src: url(../fonts/Montserrat/Montserrat-Light.ttf);
}
@font-face {
  font-family: "Montserrat-Regular";
  src: url(../fonts/Montserrat/Montserrat-Regular.ttf);
}
@font-face {
  font-family: "Montserrat-Bold";
  src: url(../fonts/Montserrat/Montserrat-Bold.ttf);
}
@font-face {
  font-family: "Montserrat-Black";
  src: url(../fonts/Montserrat/Montserrat-Black.ttf);
}
body {
  margin: 0;
  padding: 0;
  background-image: linear-gradient(to right, #740867, #89fffd);
  animation-name: background;
  animation-duration: 8s;
}

.chatscreen .chat_input_btn_container, .chatscreen .chat-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.chatscreen, .container-login .button {
  display: flex;
  flex-direction: column;
}

.sign-up-screen .email_pass, .sign-up-screen .logo-signup, .container-login .logo-login, .container-login, .Loading-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.chatscreen .chat-header .profile, .sign-up-screen .signup-btn, .sign-up-screen #goback, .sign-up-screen, .Loading-screen .loadbody {
  display: flex;
  align-items: center;
}

.container-login .image {
  display: flex;
  justify-content: space-around;
}

.container-login .button .sign_in, .container-login .button .sign_up {
  flex: 1;
  font-size: 19px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
}

.container-login .in .pass, .container-login .in .userid {
  background-color: #f6f7ffba;
  font-family: "Montserrat", sans-serif;
  border-bottom: 1px solid black;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  font-size: 18px;
  color: black;
  height: 7vh;
}

.chatscreen .chat_messages, .container-login, .Loading-screen {
  background-size: cover;
  background-attachment: fixed;
}

.chatscreen .chat_messages .msg-bubble-right .msg-date-time, .chatscreen .chat_messages .msg-bubble-left .msg-date-time, .chatscreen .chat_messages .msg-date-time {
  font-size: 11px;
  position: absolute;
  bottom: 0;
}

.chatscreen .chat_messages .msg-bubble-right:before, .chatscreen .chat_messages .msg-bubble-left:before {
  content: "";
  position: absolute;
  top: 0;
  width: 0;
  height: 0;
  border-top: 0px solid transparent;
  border-bottom: 8px solid transparent;
}

.chatscreen .chat_messages .msg-bubble-right, .chatscreen .chat_messages .msg-bubble-left {
  display: inline-block;
  min-width: 65px;
  padding: 15px;
  background: #04a912d6;
  position: relative;
}

.sign-up-screen .email_pass #confirmPass, .sign-up-screen .email_pass #pass, .sign-up-screen .email_pass #email {
  font-family: "Montserrat", sans-serif;
  border-bottom: 1px solid black;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  font-size: 18px;
  padding: 8px;
}

#goback, .email_pass, .signup-btn, .profile, .signout, .chat_messages, .msg-name, .chat_input_msg, .send {
  color: white;
}

/* loading-screen */
.Loading-screen {
  background-image: url("../image/loadingscreen.jpg");
  width: 100vw;
  height: 100vh;
}
.Loading-screen .loadbody {
  height: 90%;
}
.Loading-screen .loadbody .back {
  margin: 1em auto;
  font-family: "Roboto";
}
.Loading-screen .loadbody .back span {
  font-size: 3em;
  font-weight: bold;
  color: #01fd16;
  background: #080144;
  display: table-cell;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3), 0 5px 0 #080144;
  padding: 0 15px;
  line-height: 100px;
  animation: jumb 2s infinite;
}
.Loading-screen .loadbody .back span:nth-child(1) {
  animation-delay: 0s;
}
.Loading-screen .loadbody .back span:nth-child(2) {
  animation-delay: 0.1s;
}
.Loading-screen .loadbody .back span:nth-child(3) {
  animation-delay: 0.2s;
}
.Loading-screen .loadbody .back span:nth-child(4) {
  animation-delay: 0.3s;
}
.Loading-screen .loadbody .back span:nth-child(5) {
  animation-delay: 0.4s;
}
.Loading-screen .loadbody .back span:nth-child(6) {
  animation-delay: 0.5s;
}
.Loading-screen .loadbody .back span:nth-child(7) {
  animation-delay: 0.6s;
}

@keyframes jumb {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-30px);
    box-shadow: 0 15px 0 #01fd16;
  }
  100% {
    transform: translateY(0px);
  }
}
/* login-screen */
.container-login {
  background-image: url("../image/login_background.jpg");
  width: 100vw;
  height: 100vh;
}
.container-login .logo-login {
  height: 50vh;
  width: 45vw;
  margin-top: -42px;
}
.container-login .in {
  height: 15vh;
  font-size: 20px;
}
.container-login .image {
  width: 80%;
  height: 22vh;
  margin: 10vh 10vw 5vh 10vw;
}
.container-login .button {
  width: 100%;
  height: 18vh;
}
.container-login .button .sign_up {
  background-color: #00ff0087;
}
.container-login .button .sign_in {
  background-color: #e804c48c;
}

/* .forgot {
  font-size: 20px;
  margin-top: 30px;
  color: white;
  font-weight: bold;
} */
/* signup-screen */
.sign-up-screen {
  background-image: url("../image/signupscreen1.jpg");
  background-size: cover;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  position: absolute;
}
.sign-up-screen #goback {
  background-color: #25000094;
  width: 100%;
  height: 8vh;
  font-size: 19px;
}
.sign-up-screen .logo-signup {
  height: 34vh;
  width: 45vw;
  margin-top: -42px;
}
.sign-up-screen .email_pass {
  height: 35vh;
  font-size: 20px;
}
.sign-up-screen .signup-btn {
  justify-content: space-around;
  height: 8vh;
  background-image: linear-gradient(to right, #3f020200, #b1030399, red, violet, red, #b10303b8, #3f020294);
  width: 100%;
  font-size: 20px;
  font-weight: bold;
}

/* chat-screen */
.chatscreen {
  width: 100%;
}
.chatscreen .chat-header {
  justify-content: space-between;
  background-image: linear-gradient(to right, #28002f, #05a092);
  height: 9vh;
  width: 100%;
}
.chatscreen .chat-header .profile {
  /* font-family: Arial, Helvetica, sans-serif, cursive; */
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  margin-left: 5px;
}
.chatscreen .chat-header .signout {
  font-size: 17px;
  background-image: radial-gradient(#0c0401 10%, #3F51B5 15%, #220227 60%);
  border-radius: 50%;
  width: 25vw;
  height: 6.5vh;
}
.chatscreen .chat_messages {
  background-image: url("../image/background.jpg");
  height: 83vh;
  width: 100%;
  font-size: 19px;
  overflow-y: auto;
}
.chatscreen .chat_messages .msg-bubble-left {
  margin-left: 12px;
  -moz-border-radius: 0px 10px 10px 10px;
  -webkit-border-radius: 0px 10px 10px 10px;
  border-radius: 0px 10px 10px 10px;
}
.chatscreen .chat_messages .msg-bubble-right {
  margin-right: 12px;
  -moz-border-radius: 10px 0px 10px 10px;
  -webkit-border-radius: 10px 0px 10px 10px;
  border-radius: 10px 0px 10px 10px;
}
.chatscreen .chat_messages .msg-bubble-left:before {
  right: 100%;
  border-right: 16px solid #04a912d6;
}
.chatscreen .chat_messages .msg-bubble-right:before {
  left: 100%;
  border-left: 16px solid #04a912d6;
}
.chatscreen .chat_messages .msg-name {
  margin: 0px 10px;
}
.chatscreen .chat_messages .msg-bubble-left .msg-date-time {
  right: 0;
  margin-right: 5px;
}
.chatscreen .chat_messages .msg-bubble-right .msg-date-time {
  left: 0;
  margin-left: 5px;
}
.chatscreen .chat_input_btn_container {
  flex: 1;
  width: 100%;
  height: 100%;
}
.chatscreen .chat_input_btn_container .chat_input_msg {
  background-color: #00000094;
  height: 7vh;
  width: 85vw;
  font-size: 19px;
}
.chatscreen .chat_input_btn_container .send {
  background-image: radial-gradient(#000000fa 10%, #051ea7 15%, #040004 60%);
  width: 20vw;
  height: 8vh;
  font-size: 18px;
}

/*# sourceMappingURL=style.css.map */
