  .chat-screen {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .chat-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-image: linear-gradient(to right, #1b0418, #42c547);
    height: 9vh;
    width: 100%;
  }
  
  .profile {
    font-family: Arial, Helvetica, sans-serif, cursive;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    margin-left: 5px;
    color: white;
    display: flex;
    align-items: center;
  }
  
  .signout {
    font-size: 17px;
    background-image: radial-gradient(#0c0401 10%, #3F51B5 15%, #220227 60%);
    color: white;
    border-radius: 50%;
    width: 10vw;
    height: 6.5vh;
  }
  
  .chat_messages {
    background-image: url("../image/background.jpg");
    background-size: cover;
    background-attachment: fixed;
    height: 83vh;
    width: 100%;
    color: white;
    font-size: 19px;
    overflow-y: auto;
  }
  
  .chat_input_btn_container {
    display: flex;
    flex: 1;
    width: 100%;
    @extend %flex-center;
    align-items: center;
  }
  
  .chat_input_msg {
    background-image: linear-gradient(to right, #1b0418, #42c547);
    height: 7vh;
    width: 85vw;
    color: whitesmoke;
    font-size: 19px;
  }
  
  .send {
    background-image: radial-gradient(#000000fa 10%, #051ea7 15%, #040004 60%);
    width: 20vw;
    height: 8vh;
    font-size: 18px;
    color: white;
  }
  
  .videocall {
    display: flex;
    justify-content: space-between;
  }
  
  .msg-bubble-left {
    margin-left: 12px;
    @extend %message-bubble;
    -moz-border-radius: 0px 10px 10px 10px;
    -webkit-border-radius: 0px 10px 10px 10px;
    border-radius: 0px 10px 10px 10px;
  }
  
  .msg-bubble-right {
    margin-right: 12px;
    @extend %message-bubble;
    -moz-border-radius: 10px 0px 10px 10px;
    -webkit-border-radius: 10px 0px 10px 10px;
    border-radius: 10px 0px 10px 10px;
  }
  .msg-bubble-left:before {
    right: 100%;
    @extend %messagebubble-leftright;
    border-right: 16px solid #04a912d6;
  }
  
  .msg-bubble-right:before {
    left: 100%;
    @extend %messagebubble-leftright;
    border-left: 16px solid #04a912d6;
  }
   
  .msg-date-time {
    @extend %message-datetime;
  }
  .msg-name {
    margin: 0px 10px;
    color: #fff;
  }
  
  .msg-bubble-left .msg-date-time {
    @extend %message-datetime;
    right: 0;
    margin-right: 5px;
  }
  .msg-bubble-right .msg-date-time {
    @extend %message-datetime;
    left: 0;
    margin-left: 5px;
  }