$primary-color: #e804c4a8;
$secondary-color: #27e227b8;
$accent-color: #470303;
$text-color: white;

body {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to right, #740867 , #89fffd);
    animation-name: background;
    animation-duration: 8s;
 }

  %flex-center {
    display: flex;
    justify-content: center;
  }

  %user-pass {
    background-color: #902ea996;
    font-family: "Montserrat", sans-serif;
    border-bottom: 1px solid black;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    font-size: 19px;
    color: white;
    height: 7vh;
  }

  %sign-in-up {
    flex: 1;
    font-size: 19px;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
  }

  %email-pass {
    font-family: "Montserrat", sans-serif;
    border-bottom: 1px solid black;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    font-size: 19px; 
  }

  %flex-column-center {
    flex-direction: column;
    align-items: center;
  }

  %messagebubble-leftright-before{
    content: "";
    position: absolute;    
    top: 0;
    width: 0;
    height: 0;
    border-top: 0px solid transparent;
    border-bottom: 8px solid transparent;
  }

  %message-bubble{
    display: inline-block;
    min-width: 65px;
    padding: 15px;    
    background:#04a912d6;
    position: relative;
  }

  %message-datetime{
    font-size: 11px;
    position: absolute;
    bottom: 0;
  }