.sign-up-screen {
    display: flex;
    @extend %flex-column-center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    position: absolute;
  }
  
  #goback {
    display: flex;
    align-items: center;
    background-color: #3f020294;
    width: 100%;
    height: 8vh;
    font-size: 19px;
    color: white;
  }
  
  .logo {
    @extend %flex-center;
    height: 30vh;
    margin: 3vh;
  }
  
  .sign-up-screen {
    background-image: url("../image/signupscreen.jpg");
    background-size: cover;
  }
  
  .email_pass {
    height: 32vh;
    font-size: 20px;
    color: white;
    @extend %flex-center;
    @extend %flex-column-center;
  }
  
  #email {
    @extend %email-pass;
    margin-left: 107px;    
  }
  
  #pass {
    @extend %email-pass; 
    margin-left: 78px;
  }
  
  #confirmPass {
    @extend %email-pass;
    margin-left: 5px;
  }
  
  .signup-btn {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 8vh;
    background-image: linear-gradient(to right, #3f020294,rgb(177, 3, 3),red,violet,red,rgb(177, 3, 3),#3f020294); 
    width: 100%;
    font-size: 19px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, cursive;
  }